<div class="row">
    <div class="col-md-6">
        <div class="post">
            <img src="img/1.jpg">
            <div class="post-content">
                <h3>Lorn Ipsum</h3>
                <p>sdasdasdasdasd asd sd sd sdssdsd sdsds aaaa sddd </p>
                <a class="btn btn-primary btn-block">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="post">
            <img src="images/1.jpg">
            <div class="post-content">
                <h3>Lorn Ipsum</h3>
                <p>sdasdasdasdasd asd sd sd sdssdsd sdsds aaaa sddd </p>
                <a class="btn btn-primary btn-block">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="post">
            <img src="img/1.jpg">
            <div class="post-content">
                <h3>Lorn Ipsum</h3>
                <p>sdasdasdasdasd asd sd sd sdssdsd sdsds aaaa sddd </p>
                <a class="btn btn-primary btn-block">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="post">
            <img src="img/1.jpg">
            <div class="post-content">
                <h3>Lorn Ipsum</h3>
                <p>sdasdasdasdasd asd sd sd sdssdsd sdsds aaaa sddd </p>
                <a class="btn btn-primary btn-block">Read More</a>
            </div>
        </div>
    </div>
</div>